<nav>
    <div class="nav-bar">
        <ion-icon name="menu" class="sidebarOpen"></ion-icon>
        <span class="logo navLogo"><a href="#">CodingLab</a></span>
        <div class="menu">
            <div class="logo-toggle">
                <span class="logo"><a href="#">CodingLab</a></span>
                <ion-icon name="close" class="siderbarClose"></ion-icon>
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="darkLight-searchBox">
            <div class="dark-light">
                <ion-icon name="moon" class="moon"></ion-icon>
                <ion-icon name="sunny" class="sun"></ion-icon>
            </div>
            <div class="searchBox">
               <div class="searchToggle">
                <ion-icon name="close" class="cancel"></ion-icon>
                <ion-icon name="search" class="search"></ion-icon>
               </div>
                <div class="search-field">
                    <input type="text" placeholder="Search...">
                    <ion-icon name="search" class="search"></ion-icon>
                </div>
            </div>
        </div>
    </div>
</nav>