<h1>Hi! Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ verificationUrl|raw }}">Confirm my Email</a>.
</p>

<p>Votre code de vérification : <strong>{{ verification_code }}</strong></p>

<p>
    Cheers!
</p>
