<p>Bonjour {{ user.firstname }},</p>

<p>Merci pour votre inscription. Veuillez cliquer sur le lien ci-dessous pour vérifier votre adresse email :</p>

<p><a href="{{ verificationUrl }}">Vérifier mon adresse email</a></p>

<p>Si vous n'avez pas créé de compte, ignorez cet email.</p>

<p>Cordialement,<br>L'équipe Evans</p>